body{
	margin: 0;
}
nav{
	color: white;
	background-color: #00a6ff;
	width: 100vw;
	box-sizing: border-box;
	padding: 0 10px;
}
nav>p{
	display: inline-block;
	margin: 1em;
}
#problemshoot{
	float: right;
}
#courselist{
	float: right;
}